body {
  margin: 0;
  color: white;
  background-color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*---Logo---*/
header {
  background-color: rgb(0, 183, 255);
  margin-bottom: 40px;
}

header h1 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  font-size: 50px;
}

header h2 {
  color: #fff;
  text-align: center;
}

/*---Navigation---*/
header nav {
  display: flex;
  justify-content: center;
  
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 20px;
}

/*---Primary---*/
main {
  padding: 20px 0;
}

main h2{
  text-align: center;
  padding: 0px;
}

section {
  margin-bottom: 100px;
  background-color: rgb(0, 183, 255);
  border-radius: 25px;
}

.group {
  display: flex;
  flex-direction: column;
}

.group-projects  {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
  text-align: center;
}


img {
    width: 400px;
    height: 400px;
    border-radius:10px;
}


/*Specific Styling*/


p {
  font-size: 20px;
}

h2 {
  font-size: 40px;
}

h3 {
    font-size: 30px;
}

li  {
    font-size: 20px;
}



/*---Desktop---*/
@media all and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }

  .group-projects{
    display: flex;
    flex-direction: row;
  }
}

/*--Contact form--*/
form label {
  display: block;
}
